.modalContainer{
  height: 100vh;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 2000;
  display: flex;
  justify-content: center;
  align-items: center;
}
.modalContainer.ativo{
  display: flex;
}
.modal{
  background-color: #fff;
  padding: 40px;
  border: 10px solid #fb5;
  box-shadow: 0 0 0 10px #fff;
  position: relative;

}
.fechar{
  width: 50px;
  height: 50px;
  border: 4px solid #fff;
  border-radius: 50px;
  position: absolute;
  top:-30px;
  right: -30px;
  background-color: #e54;
  font-size: 1.2rem;
  color: #fff;
  font-family: 'IBM Plex Sans', sans-serif;
  cursor: pointer;
}
.modal label{
  display: block;
  font-family: 'IBM Plex Mono', monospace;
  font-weight: bold;
  margin: 1rem 0 .5rem 0; 
}
.modal input{
  width: 100%;
  padding: .7rem .5rem;
  box-sizing: border-box; 
}

.modal button[type='submit']{
  display: block;
  background-color: #e54;
  font-size: 1rem;
  font-family: 'IBM Plex Mono', monospace;
  cursor: pointer;
  border: none;
  border-radius: 5px;
  padding: .7rem 2rem;
  margin-top: 1rem;
}